<h1>Seat Yourself</h1>


<% @restaurants.each do |restaurant| %>
<p style="border: 1px solid black; padding: 5px"><%= restaurant[:name] %></br>
<%= restaurant[:address] %></br>
<em>Category: <%= restaurant[:category] %></em></br>
<%= restaurant[:summary][0..50] %>...[see more]</br>
</p>

<% end %>