// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reservation {
	font-family: 'Happy Monkey', cursive;
	font-size: 25px;
	font-weight: bold;
}

.border {
	border-top: 2px solid black;
	margin: 20px 0 20px 0;
	padding-left: 9px;
	padding: 5px;
}

.wrap {
	width: 60%;
	margin: 0 auto;
}

.box {
	border: 1px solid black;
	padding: 5px;
	padding-left: 9px;
	margin: 15px 0;
}

.box:hover {
	border-left: 4px solid #B86571;
	padding-left: 6px;
}

* {
	font-family: Arial;
}